.song {
  line-height:1.8;
  word-wrap:break-word;
  font-size:15px;
  text-align:justify;
}

.crater p {
  text-indent:2em;
}

.song address,
.song caption,
.song cite,
.song code,
.song dfn,
.song th {
  font-style:normal;
}

.song caption,
.song th {
  text-align:left;
}

.song q:after,
.song q:before {
  content:'';
}

.song code,
.song kbd,
.song pre,
.song pre tt {
  font-family:'Poppins',"SF Pro SC","SF Pro Text","SF Pro Icons",PingFang SC,Lantinghei SC,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans-serif;
}

.song figcaption {
  font-size:80%;
  color:rgba(0,0,0,0.54);
  margin-top:10px;
  text-align:center;
}

.song dl,
.song figure,
.song form,
.song hr,
.song ol,
.song p,
.song pre,
.song table,
.song ul {
  margin:0 0 1.2em 0;
}

.song figure {
  max-width:100%;
  margin:15px auto;
}

.song img {
  max-width:100%;
  margin:0 auto;
  height:auto;
  text-align:center;
  display:block;
}

.song blockquote {
  background:#f3f5f7;
  border-left:3px solid #dde6e9;
  margin:1.5em 10px;
  padding:13px 45px;
  quotes:"\201C" "\201D" "\2018" "\2019";
  font-size:1em;
}

.song blockquote p {
  margin:0;
}

.song mark {
  padding:2px;
  margin:0 5px;
  background:#fffdd1;
  border-bottom:1px solid #ffedce;
}

.song h1,
.song h2,
.song h3,
.song h4,
.song h5,
.song h6 {
  margin-top:1.2em;
  margin-bottom:0.6em;
  font-family:inherit;
  line-height:1.35;
  color:inherit;
}

.song h1 {
  font-size:1.6em;
}

.song h2 {
  font-size:1.4em;
}

.song h3 {
  font-size:1.2em;
}

.song h4 {
  font-size:1em;
}

.song h5 {
  font-size:.9em;
}

.song h6 {
  font-size:.8em;
}

.song a {
  color:#F55852;
  position:relative;
  white-space:normal;
  word-break:break-all;
  border-bottom:.0625rem dashed #EEE;
}

.song a::after {
  position:absolute;
  bottom:-0.0625rem;
  left:100%;
  width:0;
  border-bottom:0.0625rem solid #F55852;
  content:"";
  -webkit-transition:width 350ms,left 350ms;
  -moz-transition:width 350ms,left 350ms;
  -ms-transition:width 350ms,left 350ms;
  -o-transition:width 350ms,left 350ms;
  transition:width 350ms,left 350ms;
}

.song a:hover:after {
  left:0;
  width:100%;
  -webkit-transition:width 350ms;
  -moz-transition:width 350ms;
  -ms-transition:width 350ms;
  -o-transition:width 350ms;
  transition:width 350ms;
}

.song code {
  padding:2px;
  margin:0 4px;
  word-wrap:break-word;
  background:#eee;
  border-radius:3px;
  font:14px/26px courier new;
}

.song pre::before {
  content:" ";
  position:absolute;
  border-radius:50%;
  background:#fc625d;
  width:12px;
  height:12px;
  left:12px;
  top:10px;
  -webkit-box-shadow:20px 0 #fdbc40,40px 0 #35cd4b;
  box-shadow:20px 0 #fdbc40,40px 0 #35cd4b;
  z-index:1;
}

.song pre::after {
  content:attr(data-lang);
  text-align:right;
  background:#ebeded;
  color:#cececf;
  width:100%;
  height:32px;
  display:block;
  position:absolute;
  top:0;
  left:0;
  line-height:32px;
  font-size:16px;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:.05em;
  padding:0 12px;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

.song pre code {
  padding:10px;
  font-size:inherit;
  line-height:1.7;
  color:inherit;
  background-color:transparent;
  border-radius:0;
  font-family:'Poppins',"SF Pro SC","SF Pro Text","SF Pro Icons",PingFang SC,Lantinghei SC,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans-serif;
  display:block;
  overflow:auto;
}

.song ins {
  text-decoration:none;
  border-bottom:1px solid;
}

.song u {
  text-decoration:none;
  border-bottom:1px solid;
}

.song del {
  text-decoration:line-through;
}

.song hr {
  display:block;
  border:0;
  margin:2.24em auto 2.86em;
}

.song hr:after {
  color:#999;
  font-size:1.1em;
  display:block;
  content:"~ ~ ~ ~";
  text-align:center;
}

.song pre {
  padding:12px 16px;
  overflow-x:auto;
  -webkit-overflow-scrolling:touch;
  border-radius:2px;
  background-color:#F1F3F3;
  border-radius:5px;
  padding-top:32px;
  position:relative;
}

.song code  ol {
  border:none !important;
}

.song code  ol li {
  border-bottom:none !important;
}

.song ul {
  margin:30px 0;
  padding:5px 20px;
  border:1px solid #f9f9ff;
  border-radius:3px;
  padding-left:35px;
  list-style:none;
}

.song ol {
  list-style:decimal;
  padding:5px 20px;
  border:1px solid #f9f9ff;
  border-radius:3px;
  padding-left:35px;
  margin:30px 0;
}

.song ol li,
.song ul li {
  font-size:14px;
  padding:15px 0;
  border-bottom:1px solid #f9f9ff;
  line-height:25px;
  position:relative;
}

.song ol li:last-child,
.song ul li:last-child {
  border-bottom:none !important;
}

.song ul li:before {
  content:"";
  position:absolute;
  width:5px;
  height:5px;
  background:var(--dark-green);
  left:-15px;
  top:50%;
  margin-top:-3px;
  border-radius:50%;
}

.song li ol,
.song li ul {
  margin:0.8em 0;
}

.song li ul {
  list-style-type:circle;
}

.song .task-list-item {
  position:relative;
}

.song table {
  width:100%;
  max-width:100%;
  border-collapse:collapse;
  border-spacing:0;
  margin-bottom:1.5em;
  font-size:0.96em;
  box-sizing:border-box;
  border-width:1;
}

.song th,
.song td {
  text-align:left;
  padding:8px;
  border:1px solid #efefef;
}

.song tr:nth-child(even) {
  background-color:#F7FAFC;
}

.song .footnotes {
  font-size:80%;
  line-height:1.32;
  opacity:0.96;
}

.song .footnotes:before {
  content:"";
  display:block;
  border-top:4px solid rgba(0,0,0,0.1);
  width:50%;
  max-width:100px;
  margin:40px 0 20px;
}

.song .img-alt {
  text-align:center;
  display:block;
  margin:0.625rem 0;
  font-size:0.875rem;
  color:#777;
}

.song .wymp3 {
  text-align:center;
}

.song .photos {
  overflow:hidden;
  margin:0 auto;
  margin-left:-0.5em;
  margin-right:-0.5em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-transition:.2s cubic-bezier(.25,.46,.45,.94) all;
  transition:.2s cubic-bezier(.25,.46,.45,.94) all;
}

.song .sosha {
  position:relative;
}

.song .photos figure {
  padding:0 5px;
  flex:1;
}

.song .photos a {
  border-bottom:none;
}

.song .photos a:before {
  display:none;
}

.img_mo {
  overflow:hidden;
  position:relative;
}

.image_title {
  position:absolute;
  top:0;
  padding:3px 6px;
  background-color:rgba(255,255,255,.9);
  margin-top:0 !important;
  border-bottom-right-radius:5px;
}

.song .emoji {
  margin:0 5px;
  width:40px;
  display:inline-flex;
}

.song .photos_album {
  display:grid;
  gap:1rem;
  grid-template-columns:repeat(4,minmax(0,1fr));
}

.song .post_album_list {
  position:relative;
  width:100%;
  height:0;
  padding-top:100%;
  background-color:#EFEFEF;
  border-radius:6px;
  overflow:hidden;
}

.song .post_album_list a {
  position:static;
}

.song .post_album_list a::after {
  display:none;
}

.song .post_album_list img {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border-radius:6px;
  object-fit:cover;
  overflow:hidden;
}

.song .post_album_list figcaption {
  width:100%;
  position:absolute;
  bottom:0;
  padding:.8rem;
  font-weight:500;
  color:#FFF;
  transition:.2s;
}

.song .post_album_list:hover figcaption {
  padding:1.2rem .8rem;
}

.song figure a::before {
  display:none;
}

.song figure a[data-fancybox=gallery].lazyload-container {
  background-color:#f0f0f0;
  border-bottom:0;
}

.song figure a[data-fancybox=gallery] {
  display:block;
  position:relative;
  max-width:100%;
  height:0;
  padding:0;
  overflow:hidden;
  -webkit-transition:.3s cubic-bezier(.25,.46,.45,.94) background-color;
  transition:.3s cubic-bezier(.25,.46,.45,.94) background-color;
}

.song figure a[data-fancybox=gallery] img {
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
  -o-object-fit:cover;
  object-fit:cover;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

.song a[data-fancybox] img {
  display:block;
  margin:0;
}

.song img.lazy {
  opacity:0;
  -webkit-transition:.8s ease-in-out opacity;
  transition:.8s ease-in-out opacity;
  filter:blur(35px);
}

.song img.loaded {
  filter:blur(0px);
  opacity:1;
  transition:1s filter linear,1s -webkit-filter linear;
}
